node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
contracts/artifacts
contracts/extensions/artifacts
contracts/artifacts
.deps/npm
contracts/vaults/artifacts
contracts/interfaces/artifacts
contracts/lib/artifacts
contracts/oracles/artifacts
contracts/strategies/artifacts
contracts/structs/artifacts
package-lock.json
yarn.lock
set_env.sh
test-scripts/